*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./imagens/background.png) no-repeat top center/cover;
}

body *{
    font-family: 'Shantell Sans', cursive;
    color: rgb(255, 255, 255);
}

#container{
    width: 100%;
    margin: 56px auto 0px;
}

#profile{
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 5px #ff009de7;
    padding-bottom: 10px;
}

#profile img{
    width: 150px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10%;
    padding-right: 10%;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: #ff009d52;
    border: 2px solid #ffffffd5;
    border-radius: 8px;


    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.4s;

}

ul li a:hover{
    background: #ff009dc0;
    border: 3.5px solid #ffffffd5;
}

#social-icons{
    display: flex;
    padding: 24px 0;
    font-size: 30px;
    justify-content: center;
    gap: 32px;
}

#social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border-radius: 50%;
}

#social-icons a:hover{
    background: #ff009dc0;
    padding: 10px;
    
}

footer{
    padding: 24px 0;
    text-align: center;
}