*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./imagens/background.jpg) no-repeat top center/cover;
}

body *{
    font-family: 'Shantell Sans', cursive;
    color: rgb(255, 255, 255);
}

#container{
    width: 70%;
    border: 1px solid #FFD21C;
    border-radius: 20px;
    background-color: #0000009a;
    margin: 56px auto 0px;
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 150px;
}

#profile p{
    font-weight: 500;
    margin-top: 8px;
}

#container ul{
    text-align: center;
}