*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg--url: url(./imagens/background.png);
    --text--color: rgb(0, 0, 0);
    --border--list: 2px solid black;
    --border--hover: 3.5px solid black;
    --bg--list: rgba(236, 97, 183, 0.322);
    --bg--hover: #f7daed;
    --text--shadow: 2px 2px 5px #ff009dc0;
    --bg--icons: #f7daed; 
    --switch-bg-url: url(./assets/sun.svg);
    --bg-span-hover: rgba(236, 97, 183, 0.322);
}

.dark{
    --bg--url: url(./imagens/backgrounddark.png);
    --text--color: white;
    --border--list: 2px solid #ffffffd5;
    --border--hover: 3.5px solid #ffffffd5;
    --bg--list: #a72073c0;
    --bg--hover: #ff009dc0;
    --text--shadow: 2px 2px 5px white;
    --bg--icons: #ff009dc0; 
    --switch-bg-url: url(./assets/moon-stars.svg);
    --bg-span-hover: #a72073c0;;
}

body{
    background: var(--bg--url) no-repeat top center/cover;
}

body *{
    font-family: 'Shantell Sans', cursive;
    color: var(--text--color);
}

#container{
    width: 80%;
    margin-top: 56px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 24px;
}

#profile{
    text-align: center;
    font-size: 24px;
    text-shadow: var(--text--shadow);
    padding-bottom: 10px;
}

#profile img{
    width: 150px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
    margin-bottom: 10px;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button{
    right: 0;
    left: initial;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--bg-span-hover);
    border: var(--border--list);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--bg--list);
    border: var(--border--list);
    border-radius: 8px;


    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.4s;

}

ul li a:hover{
    background: var(--bg--hover);
    border: var(--border--hover);
}

#social-icons{
    display: flex;
    padding: 24px 0;
    font-size: 30px;
    justify-content: center;
    gap: 32px;
}

#social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border-radius: 50%;
}

#social-icons a:hover{
    background: var(--bg--icons);
    padding: 10px;
    
}

footer{
    padding: 24px 0;
    text-align: center;
}